In [1]:
import pandas as pd
from pydataset import data

from sklearn.model_selection import \
    cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import make_scorer, precision_score
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [2]:
df = data('mpg')
df.trans = df.trans.str[:-4]
df.head()

  manufacturer model  displ  year  cyl   trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto   f   16   26  p  compact

In [3]:
len(df.manufacturer.unique())

15

In [4]:
len(df.fl.unique())

5

In [5]:
cars = df.copy()
for col in ['manufacturer', 'year', 'cyl', 'trans', 'drv', 'fl']:
    le = LabelEncoder().fit(cars[col])
    cars[col] = le.transform(cars[col])

In [6]:
cars.head()

   manufacturer model  displ  year  cyl  trans  drv  cty  hwy  fl    class
1             0    a4    1.8     0    0      0    1   18   29   3  compact
2             0    a4    1.8     0    0      1    1   21   29   3  compact
3             0    a4    2.0     1    0      1    1   20   31   3  compact
4             0    a4    2.0     1    0      0    1   21   30   3  compact
5             0    a4    2.8     0    2      0    1   16   26   3  compact

In [7]:
X = cars.drop(columns=['class', 'model'])
y = cars['class']

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=.2)

In [8]:
params = {'max_depth': range(1,11),
          'max_features': range(1,5), 
          'criterion': ['gini', 'entropy']}

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

grid = GridSearchCV(model, params, cv=3)
grid.fit(X_train, y_train)
grid.best_params_

{'criterion': 'gini', 'max_depth': 9, 'max_features': 4}

In [9]:
model = grid.best_estimator_
model.score(X_test, y_test)

0.6808510638297872

In [10]:
grid.best_score_

0.6362860556408944

In [20]:
# results = grid.cv_results_
# results['mean_test_score']
results['params']

[{'criterion': 'gini', 'max_depth': 1, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 1, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 1, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 1, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 2, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 2, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 2, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 2, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 3, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 3, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 3, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 3, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 4, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 4, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 4, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 4, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 5, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 5, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 5, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 5, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 6, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 6, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 6, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 6, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 7, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 7, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 7, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 7, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 8, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 8, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 8, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 8, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 9, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 9, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 9, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 9, 'max_features': 4},
 {'criterion': 'gini', 'max_depth': 10, 'max_features': 1},
 {'criterion': 'gini', 'max_depth': 10, 'max_features': 2},
 {'criterion': 'gini', 'max_depth': 10, 'max_features': 3},
 {'criterion': 'gini', 'max_depth': 10, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 1, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 1, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 1, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 1, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 2, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 2, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 2, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 2, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 3, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 3, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 3, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 3, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 4, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 4, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 4, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 4, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 5, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 5, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 5, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 5, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 6, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 6, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 6, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 6, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 7, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 7, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 7, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 7, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 8, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 8, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 8, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 8, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 9, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 9, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 9, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 9, 'max_features': 4},
 {'criterion': 'entropy', 'max_depth': 10, 'max_features': 1},
 {'criterion': 'entropy', 'max_depth': 10, 'max_features': 2},
 {'criterion': 'entropy', 'max_depth': 10, 'max_features': 3},
 {'criterion': 'entropy', 'max_depth': 10, 'max_features': 4}]

In [15]:

for p, s in zip(results['mean_test_score'], results['params']):
    p['score'] = s

pd.DataFrame(params).sort_values(by='score')

TypeError: 'numpy.float64' object does not support item assignment

In [16]:
p

0.35304659498207885

In [19]:
for p, s in zip(params, test_scores):
    p['score'] = s

NameError: name 'test_scores' is not defined